@charset "UTF-8";

.main-skill {
    display: flex;
    align-items: center;
}

.main-skill .icon {
    margin-right: 27px;
}

.main-skill .rigth {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}